
<div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side">
                <h2> Login </h2>
                <form [formGroup]="loginForm" (ngSubmit)="log1()">
                        <div class="form-left-to-w3l">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                <input type="email" formControlName="email" placeholder="Username" required="" [(ngModel)]="email">
                        <div class="clear"></div>
                        </div>
                    
                    <div class="form-left-to-w3l">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="password" formControlName="password" placeholder="Password" required="" [(ngModel)]="password">
                        <div class="clear"></div>
                    </div>
    
                    <div class="main-two-w3ls">
                            <div class="left-side-forget">
                                    <input type="checkbox" class="checked">
                                    <span class="remenber-me">Remember me </span>
                            </div>
                        <div class="right-side-forget">
                            <a href="#" class="for" style="color: #53abec">Forgot password...?</a>
                        </div>
                    </div>
                    <div class="btnn">
                        <button type="submit">Login </button>
                    </div>
                </form>
                <div class="w3layouts_more-buttn">
                        <h3>Don't Have an account..?
                            <a routerLink='../signUp'>Register Here
                            </a>  
                        </h3>
                    </div>
    
            </div>
        </div>
    </div>
    