<div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side" style="height: 564px;position: relative;
            left: 293px;">
                <h2 style="font-weight: 600"> Sign Up </h2>
                <form [formGroup]="registerForm1" (ngSubmit)="onSubmit()" style="position: relative; top: 8px;    padding-right: 15px;">
                        <div class="form-left-to-w3l" data-validate="Username"style="float: left;position: relative;">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                <input type="email" formControlName="email" placeholder="Username" required="" [(ngModel)]= "email" [ngClass]="{ 'is-invali': submitted && f.email.errors }">
                                <div class="clear"></div>
                                <div *ngIf="submitted && f.email.errors" class="invali-feedback" style="position: relative;top:42px;right:212px;color: red;font-size: 11px;">
                                    <div *ngIf="f.email.errors.required" style="width:100px">Email is required</div>
                                    <div *ngIf="f.email.errors.email" style="position: relative;
                                    left: 80px;
                                    width: 181px;">Email must be a valid email address</div>
                                </div>
                                </div>
                                
                        <div class="form-left-to-w3l" style=" float: left; position: relative; left:20px;
                        height: 40px">
                                <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                                    <input class ="ai" list="hosting-plan" type="text" formControlName="technologies" placeholder="Technologies" [(ngModel)]="technologies" style="    width: 300px;"[ngClass]="{ 'is-invali': submitted && f.technologies.errors }">
                                    <datalist id="hosting-plan">
                                        <option value="Java"></option>
                                        <option value="C"></option>
                                        <option value="C++"></option>
                                        <option value="Python"></option>
                                        <option value="R"></option>
                                        <option value="JavaScript"></option>
                                        <option value="HTML"></option>
                                        <option value="CSS"></option>
                                    </datalist>
                                    <div *ngIf="submitted && f.technologies.errors" class="invali-feedback" style="float: right;position: relative;right: 280px;top: 41px; color: red;font-size: 11px;">
                                        <div *ngIf="f.technologies.errors.required" style="width:300px">Technologies is required</div>
                                    </div>
                                    </div>
                                    
                        <div class="form-left-to-w3l" style="float: left;position: relative; top: 15px;"> 
                            <span class="fa fa-tasks" aria-hidden="true"></span>
                                <input class="ai"list="faci" type="text" formControlName="facilities" placeholder="Facilities"style="    width: 300px;"[(ngModel)]="facilities" [ngClass]="{ 'is-invali': submitted && f.facilities.errors }">
                                    <datalist id="faci">
                                        <option value="Cloud Labs"></option>
                                        <option value="Materials"></option>
                                        <option value="Examples"></option>
                                    </datalist>
                                    <div *ngIf="submitted && f.facilities.errors" class="invali-feedback" style="position: relative;top:38px;right:286px;color: red;font-size: 11px;">
                                        <div *ngIf="f.facilities.errors.required "style="width:300px">Facilities is required</div>
                                    </div>
                        </div>
                        
                        <div class="form-left-to-w3l" style="float: left; position: relative; left:20px;top: 15px;">
                            <span class="fa fa-hourglass-2" aria-hidden="true"></span>
                                <input class="ai" type="number" formControlName="experience" placeholder="Experience" style="    width: 300px; color:gray;" [(ngModel)]="experience" [ngClass]="{ 'is-invali': submitted && f.experience.errors }">
                                <div *ngIf="submitted && f.experience.errors" class="invali-feedback" style="color: red;font-size: 11px; position: relative;
                                right: 278px;
                                top: 37px;">
                                    <div *ngIf="f.experience.errors.required" style="width:300px">Experience is required</div>
                                </div>
                            </div>
                        
                        <div id="A"class="form-left-to-w3l" style="float: left;position: relative; top: 26px;">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                                        <input class="ai" class="input100" type="password" style="color: gray;width:300px;" formControlName="password" placeholder="Password"[(ngModel)]="password" [ngClass]="{ 'is-invali': submitted && f.password.errors }">
                                        <div *ngIf="submitted && f.password.errors" class="invali-feedback" style=" position: relative;top:38px;right:200px;color: red;font-size: 11px;width: 304px;">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.mustMatch">Passwords must match</div>
                                        </div>
                        </div>
                        
                        <div id="A"class="form-left-to-w3l" style="float: left; position: relative; left:20px;top: 26px;">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                                            <input class="ai" class="input100" type="password" formControlName="cpassword" placeholder="Confirm Password" required [(ngModel)]="cpassword" [ngClass]="{ 'is-invali': submitted && f.cpassword.errors }">
                                            <div *ngIf="submitted && f.cpassword.errors" class="invali-feedback" style="position: relative;top:38px;right:180px;color: red;font-size: 11px;width: 304px;">
                                                <div *ngIf="f.cpassword.errors.required">Password is required</div>
                                                <div *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>
                                </div>
                        </div>
                        
                        <br>
                        <div class="form-left-to-w3l" style="float: left;position: relative;top: 39px;" >
                            <span class="fa fa-tag" aria-hidden="true"></span>
                            <input class="ai"  type="url" formControlName="url" placeholder="LinkedIn Url"style="color: gray;width:300px; " [(ngModel)]="url" [ngClass]="{ 'is-invali': submitted && f.url.errors }">
                            <div *ngIf="submitted && f.url.errors" class="invali-feedback" style="position: relative;top:35px;right:296px; color: red;font-size: 11px;">
                                <div *ngIf="f.url.errors.required" style="width:300px">Url is required</div>
                            </div>
                        </div>
                        
                            <div class="form-left-to-w3l" style="float: left; position: relative; left:20px;top: 39px;" >
                                    <span class="fa fa-id-card-o" aria-hidden="true"></span>
                                        <input class="ai" type="text" formControlName="number" style="color: gray;width:312px;" placeholder="Email/Contact Number" [(ngModel)]="number" [ngClass]="{ 'is-invali': submitted && f.number.errors }" >
                                        <div *ngIf="submitted && f.number.errors" class="invali-feedback" style=" position: relative;top:36px;right:277px; color: red;font-size: 11px;">
                                            <div *ngIf="f.number.errors.required"style="width:300px">Technologies is required</div>
                                        </div>
                                    </div>
                                    
                            <div class="form-left-to-w3l" data-validate="Password is required" style="float: left;position:relative;top: 52px;"  >
                                <span class="fa fa-clock-o" aria-hidden="true"></span>
                                <input class="ai"list="appt" type="text" formControlName="timeStart" placeholder="Time Slot"style="    width: 300px;"[(ngModel)]="timeStart" [ngClass]="{ 'is-invali': submitted && f.timeStart.errors }">
                                    <datalist id="appt">
                                        <option value="09:00 am to 11:00 am"></option>
                                        <option value="11:00 am to 01:00 pm"></option>
                                        <option value="02:00 pm to 04:00 pm"></option>
                                        <option value="04:00 pm to 06:00 pm"></option>
                                        <option value="07:00 pm to 09:00 pm"></option>
                                        <option value="10:00 pm to 12:00 am"></option>
                                    </datalist>
                                <div *ngIf="submitted && f.timeStart.errors" class="invali-feedback" style="color: red;font-size: 11px; position: relative; top: 37px;
                                right: 280px;">
                                    <div *ngIf="f.timeStart.errors.required" style="width:300px">TimeStart is required</div>
                                </div>
                                    </div>
                            
                    <div class="btn" style="position:relative; top: 80px;
                    left: -145px; max-width: 100px;">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="w3layouts_more-buttn" style="position: relative;bottom: -50px;">
                        <h3>Have an account..?
                            <a routerLink="../../login">Login Here
                            </a>
                        </h3>
                    </div>
            </div>
            
        </div>
    </div>
    
