html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.w3layouts-two-grids {
    width: 100%;
    position: relative;
    top: -150px;
    align-content: center
}
.mid-class {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.img-right-side, .txt-left-side {
    padding: 3em 2.7em 2.5em;
}
.txt-left-side {
    background: rgba(0,0,0,.5);
}
.img-right-side, .txt-left-side {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
}
.img-right-side h3, .txt-left-side h2 {
    font-size: 21px;
    margin-bottom: 24px;
}
.txt-left-side h2 {
    color:white;
}
.img-right-side h3{
    color: #000;
    letter-spacing: 0px;
}
.img-right-side p, .txt-left-side p {
    margin-bottom: 43px;
}
.txt-left-side p {
    color: #bdbdbd;
}
p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    
}
.form-left-to-w3l {
    margin: 0px 0px 22px;
    width : 50%;
}
.form-left-to-w3l {
    display: flex;
    display: -webkit-flex;
    /* border: none; */
    border: 1px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.form-left-to-w3l span {
    line-height: 33px;
}
.form-left-to-w3l span {
    font-size: 18px;
}
.form-left-to-w3l span {
    -webkit-flex-basis: 15%;
    flex-basis: 15%;
    border: none;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-envelope-o:before {
    content: "\f003";
}
.form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
    padding: .5em .6em;
}
.form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
    width: 100%;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    padding: .6em .6em;
    -webkit-appearance: none;
    background: transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-sizing: border-box;
    /* box-shadow: -1px 0px 6px #9f9f9f; */
}
select, input[type="email"], input[type="text"], input[type=password], input[type="button"], input[type="submit"], textarea {
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    color:grey;
}
.clear {
    clear: both;
}
.left-side-forget, .right-side-forget {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
}
.left-side-forget {
    float: left;
    position: relative;
}
input.checked {
    position: absolute;
    top: 3px;
    left: -5px;
    cursor: pointer;
}
.remenber-me, a.for {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
.remenber-me {
    margin-left: 17px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.right-side-forget {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
}
.right-side-forget {
    float: right;
}
.remenber-me, a.for {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
button[type=submit] {
    margin: 36px 0px 16px;
    padding: 14px 20px;
}
button[type=submit] {
    background: #53abec;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 626%;
    position: relative;
    right: 260px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3layouts_more-buttn h3 {
    margin-top: 37px;
}
.w3layouts_more-buttn h3 {
    font-size: 15px;
    color: #fff;
    margin-top: 43px;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.w3layouts_more-buttn a {
    font-size: 14px;
}
.w3layouts_more-buttn a {
    font-size: 15px;
    color:#53abec;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0px;
    outline: none;
}
.img-right-side, .txt-left-side {
    padding: 3em 2.7em 2.5em;
}
.img-right-side {
    background: #fff;
    width:400px
}
.img-right-side h3 {
    font-size: 21px;
    margin-bottom: 24px;
}
.img-right-side h3 {
    color: #000;
    letter-spacing: 0px;
}
.img-right-side p, .txt-left-side p {
    margin-bottom: 43px;
}
.img-right-side p, .txt-left-side p {
    font-size: 13.5px;
    line-height: 24px;
    margin-bottom: 48px;
}
.img-right-side p, .txt-left-side p {
    color: #908c8c;
    letter-spacing: 0.3px;
}
img {
    max-width: 100%;
    position: relative;
    bottom: 18px;
}
.ai{
    background: rgba(0,0,0,.0001);
    border-color: rgba(0,0,0,.0001);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    vertical-align: baseline;
}
