.bg{
	background: url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
	background-size:cover;
    height: 890px;

  }

 h2 {
    font-size: 30px;
    color: #464444;
}

#search{
    position: relative;
    top: 174px;
	float : left;
	left: 154px;
	width:700px;
	}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #333333;
	color: #777;
}
form.example button:hover {
    background: #d82a4e;
  }
.frm{
position: relative;
    top: 190px;
	right: 300px
	}
.navbar-nav {
    float: right;
    margin: 0px;
    position: relative;
    right: 100px;
    top:-5px
}
.navbar-default {
    background-color: rgba(0,0,0,.0001);
    border-color: rgba(0,0,0,.0001);
    border-radius: 0px;
    top: 50px;
}
.header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 60px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.site-logo {
    display: inline-block;
}
img {
    max-width: 100%;
    height: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.nav-switch {
    display: none;
}
.header-btn {
    min-width: 90px;
}
.header-btn {
    float: right;
    margin-right: 0;
}
.main-menu ul {
    list-style: none;
}
ul, ol {
    padding: 0;
    margin: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-menu ul li {
    display: inline;
}
*, ::after, ::before {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: -10px;
}
.main-menu ul li a {
    margin-left: 20px;
}
.main-menu ul li a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-left: 45px;
    font-weight: 600;
    padding: 20px 0 5px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    position: relative;
    left: 53px;
}
.s01{
    min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: rgba(0, 0, 0, 0.001);
  background-size: cover;
  background-position: center center;
  padding: 15px;
  position: relative;
  top: 40px;
  }
  fieldset {
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
  }
  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color:white;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid #e5e5e5;
  }
  .s01 form {
    width: 100%;
    max-width: 1290px;
  }
  .s01 form .inner-form {
    padding: 30px 35px;
  }
  .s01 form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 47px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
  .s01 form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 47px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
  .s01 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
  }
  .s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  .s01 form .inner-form .input-field.second-wrap {
    width: 16.77%;
  min-width: 158px;
  color:grey;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
  }
  .s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  .s01 form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
  }
  .s01 form .inner-form .input-field {
    height: 50px;
  }
  .s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
  }
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
  }
  button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }
  button, select {
    text-transform: none;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  .input-field.second-wrap::placeholder { /* Chrome, Firefox, Opera,
  Safari 10.1+ */
    color:grey;
    opacity: 1; /* Firefox */
  }
  