<!-- <div class="s01">
    <form [formGroup]="searchForm" (ngSubmit)="search1()">
    <div class="inner-form">
    <div class="input-field first-wrap">
    <input formControlName="technologies" type="text" placeholder="What are you looking for?" [(ngModel)]="technologies">
    </div>
    <div class="input-field second-wrap">
    <input list="appt1" type="text" formControlName="timeStart" placeholder="Time Slot" [(ngModel)]="timeStart">
    <datalist id="appt1">
        <option value="09:00 am to 11:00 am"></option>
        <option value="11:00 am to 01:00 pm"></option>
        <option value="02:00 pm to 04:00 pm"></option>
        <option value="04:00 pm to 06:00 pm"></option>
        <option value="07:00 pm to 09:00 pm"></option>
        <option value="10:00 pm to 12:00 am"></option>
    </datalist>
    </div>
    <div class="input-field third-wrap">
    <button class="btn-search" type="submit">Search</button>
    </div>
    </div>
    </form>
    </div> -->